-# coding: utf-8
- categorized = categorize_brick(brick_list)
- Yabitz::Model::Brick::STATUS_LIST.each do |state|
  - next if categorized[state][:list].size < 1
  - set = categorized[state]
  = partial :brick, :collection => set[:list]
  %tr.brick_category_summary
    - case status
    - when Yabitz::Model::Brick::STATUS_STOCK
      %td.brick_status_stock
        %div.header_status
    - when Yabitz::Model::Brick::STATUS_SPARE
      %td.brick_status_spare
        %div.header_status
    - when Yabitz::Model::Brick::STATUS_REPAIR
      %td.brick_status_repair
        %div.header_status
    - when Yabitz::Model::Brick::STATUS_BROKEN
      %td.brick_status_broken
        %div.header_status
    - else
      %td.brick_status_in_use
        %div.header_status
    %td.brick_hwid
      %img{:src => "/images/1x1.gif"}
    %td.td_padding
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:colspan => 3, :style => "font-size: 80%;"}
      %ul{:style => "list-style-type: none;"}
        - set[:productname].keys.sort.each do |p|
          - next if set[:productname][p] < 1
          %li
            &= p + ': ' + set[:productname][p].to_s
    %td.td_padding_narrow
      %img{:src => "/images/1x1.gif"}
    %td.td_base{:colspan => 3, :style => "text-align: center;"}
      = Yabitz::Model::Brick.status_title(state)
      %br
      = set[:list].size.to_s + "台"
    %td.td_line_term
      %img{:src => "/images/1x1.gif"}
- set = categorized['total']
%tr.brick_category_summary_total
  %td.brick_status_in_use
    %div.header_status
  %td.brick_hwid
    %img{:src => "/images/1x1.gif"}
  %td.td_padding
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:colspan => 3, :style => "font-size: 80%;"}
    %ul{:style => "list-style-type: none;"}
      - set[:productname].keys.sort.each do |p|
        - next if set[:productname][p] < 1
        %li
          &= p + ': ' + set[:productname][p].to_s
  %td.td_padding_narrow
    %img{:src => "/images/1x1.gif"}
  %td.td_base{:colspan => 3, :style => "text-align: center;"}
    合計
    %br
    = set[:list].size.to_s + "台"
  %td.td_line_term
    %img{:src => "/images/1x1.gif"}
