-# -*- coding: utf-8 -*-
%div#toolbox_spacer_top
%div#toolbox
  %p&= @page_title
  %p
    %a{:href => '/ybz/host/' + @hosts.sort.map(&:oid).join('-')} ラック内の全ホストを表示
  %p 
    - if prev_rack
      %a{:href => "/ybz/rack/#{prev_rack.oid}"} 前のラック(#{prev_rack.label} <=)
    - if prev_rack and next_rack
      = '|'
    - if next_rack
      %a{:href => "/ybz/rack/#{next_rack.oid}"} (=> #{next_rack.label})次のラック
%div#toolbox_spacer_bottom
%div#maincontents
  = haml Yabitz::RackTypes.search(@rack.label).rack_display_template
